<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>홈</h2>


<div th:if="${session.loginUser == null}">
    <a th:href="@{/signup}">회원가입</a> |
    <a th:href="@{/login}">로그인</a> |
</div>


<div th:if="${session.loginUser != null}">
    <span th:text="'환영합니다, ' + ${session.loginUser.name} + '님'"></span> |
    <a th:href="@{/logout}">로그아웃</a> |
    <a th:href="@{/board}">게시판</a>
</div>


<div th:if="${session.loginUser == null}">
    <a th:href="@{/board}">게시판</a>
</div>


<div th:if="${session.loginUser != null}">
    <form th:action="@{/deleteMember}" method="post">
        <button type="submit" onclick="return confirm('정말 탈퇴하시겠습니까?')">회원 탈퇴</button>
    </form>
</div>
</body>
</html>

