<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
<h1>회원가입</h1>
<form method="post" action="/member/signup">
    <table class="table">
        <tr><td>아이디: <input type="text" name="loginId" required/></td></tr>
        <tr><td>이름: <input type="text" name="name" required/></td></tr>
        <tr><td>비밀번호: <input type="text" name="password" required/></td></tr>
        <tr><td>비밀번호 확인: <input type="text" name="confirmPassword" required/></td> </tr>
    </table>
    <input type="submit" value="가입하기" />
    <a href="http://localhost:8080">돌아가기</a>
</form>
</body>
</html>