<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<h2>게시판 목록</h2>
	<a th:if="${session.loginUser != null}" th:href="@{/board/new}">글쓰기</a>
	<a th:href="@{/}">메인으로 이동</a>
	<table>
		<tr>
			<th>제목</th>
			<th>작성자</th>
			<th>좋아요</th>
		</tr>
		<tr th:each="board : ${boards}">
			<td><a th:href="@{/board/{id}(id=${board.boardId})}" th:text="${board.title}"></a></td>
			<td th:text="${board.writer.name}"></td>
			<td th:text="${#lists.size(board.likes)}"></td>
		</tr>
	</table>
	</ul>
</body>

</html>